In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
train=pd.read_csv('Loan_train.csv')
test=pd.read_csv('Loan_test.csv')
sample=pd.read_csv('Loan Sample submission.csv')

In [7]:
train['Credit_History'].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [8]:
train.select_dtypes(exclude= np.number).isna().sum()

Loan_ID           0
Gender           13
Married           3
Dependents       15
Education         0
Self_Employed    32
Property_Area     0
Loan_Status       0
dtype: int64

In [9]:
cat_impute = ['Gender','Married','Dependents','Self_Employed', 'Credit_History']

In [10]:
for colum in cat_impute:
    train[colum].fillna(train[colum].mode()[0], inplace = True)

C:\Users\Vishali\AppData\Local\Temp\ipykernel_14708\107950269.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[colum].fillna(train[colum].mode()[0], inplace = True)

In [11]:
train.select_dtypes(exclude= np.number).isna().sum()

Loan_ID          0
Gender           0
Married          0
Dependents       0
Education        0
Self_Employed    0
Property_Area    0
Loan_Status      0
dtype: int64

In [12]:
train.select_dtypes(include= np.number).isna().sum()

ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History        0
dtype: int64

In [13]:
train['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [14]:
num_impute = ['LoanAmount','Loan_Amount_Term']

In [15]:
for colum in num_impute:
    train[colum].fillna(train[colum].median(), inplace = True)

C:\Users\Vishali\AppData\Local\Temp\ipykernel_14708\1819831827.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[colum].fillna(train[colum].median(), inplace = True)

In [16]:
train['Dependents'].replace({'3+': 3}, inplace = True)

In [17]:
test['Dependents'].replace({'3+': 3}, inplace = True)

C:\Users\Vishali\AppData\Local\Temp\ipykernel_14708\55580275.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test['Dependents'].replace({'3+': 3}, inplace = True)

In [18]:
train['Dependents'].value_counts()

Dependents
0    360
1    102
2    101
3     51
Name: count, dtype: int64

In [19]:
train['Loan_Status'].replace({'Y': 1, 'N': 0}, inplace = True)

C:\Users\Vishali\AppData\Local\Temp\ipykernel_14708\655901111.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train['Loan_Status'].replace({'Y': 1, 'N': 0}, inplace = True)
C:\Users\Vishali\AppData\Local\Temp\ipykernel_14708\655901111.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train['Loan_Status'].replace({'Y': 1, 'N': 0}, inplace = True)

In [35]:
test.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64